<!-- often you'll find that you actually want to use the same design template for your entire website,
 but you might need to change some code in your header or footer. In these cases, it's better to use Template
 Inheritance instead.

Template inheritance is similar to Class inheritance, you can take a parent template and extend its
styling in your child web pages.


-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
    {% block styling %}
    body{
        background: purple;
    }
    {% endblock %}
    </style>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>